@import url('https://unpkg.com/leaflet/dist/leaflet.css');

.custom-marker-label {
    width: 30px !important; /* Adjust width */
    height: 30px !important; /* Adjust height */
    font-weight: bold !important;
    font-size: 12px !important; /* Adjust font size */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  
  .label-container {
    background-color: #0778f1 !important;
    width: 30px !important; /* Adjust width */
    height: 30px !important; /* Adjust height */
    color: #ffffff !important;
    border-radius: 50% !important;
    
    /* padding: 3px !important; */
    white-space: nowrap; /* Ensure text stays in a single line */
  }
  
  .red-label-container .label-container {
    background-color: red !important;
  }
  
  .green-label-container .label-container {
    background-color: rgb(4, 156, 216) !important;
  }
  
  .circular-marker {
    width: 100% !important;
    height: 100% !important;
    border-radius: 50% !important;
    background-size: cover !important;
    border: 3px solid rgb(177, 7, 154) !important;
  }
  
  .circular-marker:hover {
    border: 2px solid #000 !important;
  }
  
  .button-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
  }
  
  .leaflet-container {
    z-index: 10;
  }
  
  .react-datepicker-popper {
    z-index: 50 !important;
  }
  