@import url('https://unpkg.com/leaflet/dist/leaflet.css');

.marker-content {
    background-color: white !important; 
    padding: 5px !important;
    border: 1px solid black !important; 
  }
  .position{
    background-color: white !important; 
    padding: 5px !important;
    border: 1px solid black !important;
  }

  .leaflet-control-container{
    display: none !important;
   
  }
.leaflet-routing-container{
  background-color: aliceblue !important;

}
.react-datepicker-popper{
  z-index: 50 !important;
}





.circular-marker {
  width: 100% !important;
  height: 100% !important;
  border-radius: 50% !important;
  background-size: cover !important;
  border:2px solid green !important;
}
.circular-marker:hover {

border: 2px solid #000 !important;
}

.circular-icon {
  text-align: center !important;
}
.leaflet-popup-content p {
  margin: 0;
  padding-top: 5px;
  
}
.leaflet-control-attribution{
display: none;
}
.leaflet-bottom{
display: none;
}

.leaflet-container{
  z-index: 10 !important;
}
.react-datepicker-popper {
  z-index: 100 !important;
}